{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">professor, researcher, programmer</h1>
                <section class="post">
                    <header class="post-header">

                        <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>

                        <p class="post-meta">
                            {{ with .Params.author }}
                                By <strong class="post-author">{{ . }}</strong>
                            {{ end }}
                            {{ if isset .Params "categories" }}
                                under
                                {{ $baseUrl := .Site.BaseURL }}
                                {{ range .Params.categories }}<a class="post-category post-category-{{ . }}" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
                            {{ end }}
                        </p>
                    </header>

                    <div class="post-description">
                      <div class="widget" style="float:right">
                        <a class="twitter-timeline" data-width="200" data-height="550" data-dnt="true" data-theme="light" href="https://twitter.com/joaohenriquep?ref_src=twsrc%5Etfw">Tweets by joaohenriquep</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                      </div>
                        {{ .Content }}
                    </div>
                </section>
            </div>
            <!--{{ partial "pagination.html" . }}-->
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>

{{ partial "analytics.html" . }}
</body>
</html>
